body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #8ea0b3;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    border-radius: 10px;
}

h1,
h2,
h3 {
    color: #343a40;
}

.nav_local{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

section {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Skills Card Styling */
.skills-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #f7fbff;
    color: #000000;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;

}


.skill img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12%;
}


.web_project{
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #f7fbff;
    background-color: black;
    color: #e7dede;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    height: 300px;
}


#projectWeb1{
    background-image:image-set(url('img/website_blog.png')3x);
}
#projectWeb2{
    background-image:image-set(url('img/library_web.png')3x);
}

.web_project:hover {
    background-image: none; /* Remove background image on hover */
}

.web_project:hover .button1,
.web_project:hover .button2 {
    display: inline-block; /* Show buttons on hover */
}


/* Sprojects Card Styling */
.projects-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects {
    flex: 0 0 calc(33.3333% - 20px);
    background-color: #f7fbff;
    color: #000000;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.projects-img {
    max-width: 100%;
    max-height: 70%;
    border-radius: 12%;
    align-items: center;
}

img {
    max-width: 100%;
    border-radius: 10%;
    margin-bottom: 20px;

}

.video-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px;
}

.video-container iframe {
    width: 100%;
    height: 315px;
}

img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

#intro {
    font-family: 'Arial', sans-serif;
    /* font-size: 18px; */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    /* animation: typing 2s steps(30) infinite; */
}

/* 
@keyframes typing {
    from, to {
        width: 0;
    }
    50% {
        border-right: 2px solid transparent;
    }
} */

.splide_slide img {
    width: 80%;
    height: auto;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.round {
    border-radius: 50%;
}

.AppImg {
    height: 700px;
    width: auto;
}

/* Responsive Design */
@media (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .skills-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .projects-img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 12%;
        align-items: center;

    }

    .AppImg {
        height: 374px;
        width: 80%;
    }

    .splide {
        width: 100%;
    }

    .projects-card {
        width: 100%;
    }
    .web_project{
        flex: 0 0 calc(33.3333% - 20px);
        background-color: #f7fbff;
        background-color: black;
        color: #e0dddd;
        padding: 15px;
        margin: 10px 0;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
}